.content {
	margin-top: 80px;
	min-height: 700px;
}

.footer {
	border-top: 3px solid #dfdfdf;
	padding-top: 10px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.navbar-brand img {
	margin-top: -17px;
}

.carousel-inner > .item {
	height: 450px;
	background-color: #666666;
}

.carousel-caption {
	bottom: 120px;
}

.carousel-caption h3 {
	font-family: 'OFLSortsMillGoudyRegular', Georgia, "Times New Roman", Times, serif;
}

.carousel-caption > h3 > a {
	color: #fff;
	text-decoration: none;
}

.post-header {
	padding-top: 3px;
	padding-bottom: 20px;
}

.post-content ul {
	margin-bottom: 20.5px;
}

.post-content h4 {
	color: #2C3E50;
	margin-top: 20px;
}

blockquote {
	font-size: 16.75px;
}

.carousel-caption > h3 > a {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 1px 3px 15px rgba(0, 0, 0, 0.5);

}

.slide-bom-trans {
	background-image: url('/img/slides/large/bom_trans_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-christians {
	background-image: url('/img/slides/large/christians_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-fv {
	background-image: url('/img/slides/large/fv_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-god {
	background-image: url('/img/slides/large/god_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-manifesto {
	background-image: url('/img/slides/large/manifesto_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-nauvoo {
	background-image: url('/img/slides/large/nauvoo_large.jpg') !important;
	background-repeat: no-repeat !important;
}


.dark-background > div > h3 { 
	background-color: #42586e;
	padding-top: 15px;
	padding-bottom: 15px;
}

.slide-peace {
	background-image: url('/img/slides/large/peace_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-race {
	background-image: url('/img/slides/large/race_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-dna {
	background-image: url('/img/slides/large/bom_dna.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-pap {
	background-image: url('/img/slides/large/papyrus_large.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-title {
	/* width: 100%; */
	float: left;
	position: absolute;
	/* bottom: 0; */
	
	text-align: center;
	color: #fff;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0.298039);
}

.essay-list a {
	font-size: 18px;
}
.essay-list li {
	padding-top: 10px;
	padding-bottom: 10px;
}
.subtext {
	margin-top: 5px;
	font-style: italic;
}
.subtext h6 {
	font-style: normal;
	font-size: 14px;
}
.subtext a {
	font-size: 14px;
}

.border-bottom {
	border-bottom: 1px solid #dfdfdf; padding-bottom: 10px;
}






