.content {
	margin-top: 80px;
	min-height: 700px;
}

.footer {
	border-top: 3px solid #dfdfdf;
	padding-top: 10px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.navbar-brand img {
	margin-top: -17px;
}

.carousel-inner > .item {
	height: 450px;
	background-color: #666666;
}

.carousel-caption {
	bottom: 120px;
}

.carousel-caption h3 {
	font-family: 'OFLSortsMillGoudyRegular', Georgia, "Times New Roman", Times, serif;
}

.carousel-caption > h3 > a {
	color: #fff;
	text-decoration: none;
}

.post-header {
	padding-top: 3px;
	padding-bottom: 20px;
}

.post-content ul {
	margin-bottom: 20.5px;
}

.post-content h4 {
	color: #2C3E50;
	margin-top: 20px;
}

blockquote {
	font-size: 16.75px;
}

.carousel-caption > h3 > a {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 1px 3px 15px rgba(0, 0, 0, 0.5);

}

.slide-book-of-mormon-translation {
	background-image: url('/img/slides/large/book-of-mormon-translation.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-christians {
	background-image: url('/img/slides/large/christians.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-first-vision-accounts {
	background-image: url('/img/slides/large/first-vision-accounts.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-becoming-like-god {
	background-image: url('/img/slides/large/becoming-like-god.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-the-manifesto-and-the-end-of-plural-marriage {
	background-image: url('/img/slides/large/the-manifesto-and-the-end-of-plural-marriage.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-plural-marriage-in-kirtland-and-nauvoo {
	background-image: url('/img/slides/large/plural-marriage-in-kirtland-and-nauvoo.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-plural-marriage-and-families-in-early-utah {
        background-image: url('/img/slides/large/plural-marriage-and-families-in-early-utah.jpg') !important;
        background-repeat: no-repeat !important;
}

.dark-background > div > h3 { 
	background-color: #42586e;
	padding-top: 15px;
	padding-bottom: 15px;
}

.slide-peace-and-violence-among-19th-century-latter-day-saints {
	background-image: url('/img/slides/large/peace-and-violence-among-19th-century-latter-day-saints.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-race-and-the-priesthood {
	background-image: url('/img/slides/large/race-and-the-priesthood.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-book-of-mormon-and-dna-studies {
	background-image: url('/img/slides/large/book-of-mormon-and-dna-studies.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-translation-and-historicity-of-the-book-of-abraham {
	background-image: url('/img/slides/large/translation-and-historicity-of-the-book-of-abraham.jpg') !important;
	background-repeat: no-repeat !important;
}

.slide-mother-in-heaven {
        background-image: url('/img/slides/large/mother-in-heaven.jpg') !important;
        background-repeat: no-repeat !important;
}

.slide-joseph-smiths-teachings-about-priesthood-temple-and-women {
        background-image: url('/img/slides/large/joseph-smiths-teachings-about-priesthood-temple-and-women.jpg') !important;
        background-repeat: no-repeat !important;
}

.slide-title {
	/* width: 100%; */
	float: left;
	position: absolute;
	/* bottom: 0; */
	
	text-align: center;
	color: #fff;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0.298039);
}

.essay-list a {
	font-size: 18px;
}
.essay-list li {
	padding-top: 10px;
	padding-bottom: 10px;
}
.subtext {
	margin-top: 5px;
	font-style: italic;
}
.subtext h6 {
	font-style: normal;
	font-size: 14px;
}
.subtext a {
	font-size: 14px;
}

.border-bottom {
	border-bottom: 1px solid #dfdfdf; padding-bottom: 10px;
}
