<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=50565978069&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src="/img/logo_xs.png" alt="" /></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
	    <li><a href="/about">About</a></li>
	    <li><a href="/contact">Contact</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Essays <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
              {% assign essays = site.essays | reverse %}
              {% for essay in essays %}
                <li><a href="https://www.lds.org/topics/{{ essay.name }}?lang=eng&old=true" target="_blank">{{ essay.title }}</a></li>
              {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
