<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css?v=20141115a" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/site.css?v=20150317a" | prepend: site.baseurl }}">
    
</head>
